 /* .flex-wrapper {
  justify-content: center;
  align-items: center;
}


.slide {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}


#slide1-product {
  position: relative;
  display: block;
  opacity: 0.2;
}

#slide1-product.visible {
  opacity: 1;
  transform: none;
}

.text-box {
  width: 30%;
  border: 2px solid black;
  padding: 8px;
}


.f-left {

}

.f-right {

}

#slide1 {
  background-color: red;
}

#slide2 {
  background-color: green;
}

#slide3 {
  background-color: blue;
}

#product-wrapper {
  content: "";
  height: 10px;
  width: 100%;
  background-color: black;
}  
*/

.scene {
  /* position: fixed; */
  height: 200px;
  background-color: black;
  color: white;
}

.content {
  /* position: fixed; */
  display: block;
  height: 40vh;
}