 /* .flex-wrapper {
  justify-content: center;
  align-items: center;
}


.slide {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}


#slide1-product {
  position: relative;
  display: block;
  opacity: 0.2;
}

#slide1-product.visible {
  opacity: 1;
  transform: none;
}

.text-box {
  width: 30%;
  border: 2px solid black;
  padding: 8px;
}


.f-left {

}

.f-right {

}

#slide1 {
  background-color: red;
}

#slide2 {
  background-color: green;
}

#slide3 {
  background-color: blue;
}

#product-wrapper {
  content: "";
  height: 10px;
  width: 100%;
  background-color: black;
}  
*/

.presenter {
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-scene {
  color: white;
}

.sm-spacer:nth-child(2n+1) > .text-scene {
  background-color: green;
}

.sm-spacer:nth-child(2n) > .text-scene {
  background-color: blue;
}

.content {
  /* position: fixed; */
  display: flex;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
  max-width: 40vw;
}

.content > .content-text {
  opacity: 0;
  transition: all 0.25s ease-in-out;
  transform: translateY(50px);
}

.content.visible > .content-text {
  opacity: 1;
  transform: translateY(0px);
}


.content .title {
  font-size: 2em;
  font-weight: bold;
}
