.presenter {
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-scene {
  color: white;
  /* display: flex; */
  /* align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.pin-image {
  /* position: absolute; */
  height: 20vh;
}

.text-scene:nth-child(2n+1) {
  background-color: green;
}

.text-scene:nth-child(2n) {
  background-color: blue;
}


.content {
  /* position: fixed; */

  
  float: right;
  z-index: 2;
  display: flex;
  align-items: center;
  vertical-align: middle;
  max-width: 40vw;
}

.content {
  opacity: 0.2;
  transition: all 0.25s ease-in-out;
  transform: translateY(50px);
}


.content.visible{
  opacity: 1;
  transform: translateY(0px);
}


.content .title {
  font-size: 2em;
  font-weight: bold;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.spacer-20 {
  background-color :red;
  min-height: 20vh;
}

.spacer-40 {
  background-color: blue;
  min-height: 40vh;
}

.spacer-80 {
  background-color: green;
  min-height: 80vh;
  /* float: right; */
}

.down {
  position: absolute;
  top: calc(100vh + 4px) !important; /* fucking 4 pixel wot */
}

.text-box {
  max-width: 40vw;
  float: right;
}