.home-image {
  position: relative;
  content: " ";
  background-image: url("/image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  color: var(--image-text);
  margin: 0;
  height: 100vh;
}

.home-container {
  position: absolute;
  top: 10vh;
  text-align: center;
}
.home-title {
  padding-top: 72px;
  padding-bottom: 8px;
  font-size: 2.5em;
  text-align: center;
  color: var(--image-text);
  font-weight: bold;
}

.home-subtitle {
  text-align: center;
  font-size: 1.3em;
  color: var(--image-text);
  font-weight: bold;
}

.home-link {
  display: block;
  width: 120px;
  padding: 8px;
  margin: 0px 8px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  border: 1.5px solid rgba(255, 255, 255, 0.8);
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.8);
  background-color: transparent;
}

.home-link:hover {
  color: var(--subtitle-text);
  background-color: var(--image-text);
}

.home-link-container {
  display: flex;
  mix-blend-mode: screen;
  padding-top: 24px;
  font-weight: 600;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
@media only screen and (max-width: 539px) {
  .home-link {
    flex: 0 0 70%;
    margin: 4px;
  }

  .home-link-container {
    justify-content: center;
    flex-wrap: wrap;
  }
}

.home-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.6);
}

body {
  font-size: 16px;
}

code {
  color: #c52727;
  background-color: #eee;
  border-radius: 4px;
  /* border: 2px solid grey; */
  padding: 3px 6px;
}


code {
  background-color: #eee;
  word-wrap: break-word;
}
pre > code {
  color: green !important;
  background-color: transparent;
  /* word-wrap: break-word; */
}


/*
  for different font blog page
*/
@font-face {
  unicode-range: U+0E00-0E7F;
  font-family: "ThaiFont";
  src: url(/fonts/Krub-Light.ttf);
}

@font-face {
  font-family: "ThaiFontFull";
  src: url(/fonts/Krub-Light.ttf);
}


@font-face {
  unicode-range: U+0000-007F;
  src: url(/fonts/DMMono-Medium.ttf);
  font-family: "EngFont";
}

@font-face {
  src: url(/fonts/Kanit-Medium.ttf);
  font-family: "Kanit";
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Kanit";
}


.dynamic {
  font-family: ThaiFont, EngFont;
}

.thai-font {
  font-familty: "ThaiFontFull";
}