.cover {
  position: relative;
  /* z-index: -1; */
}

.cover-img {
  width: 100%;
  height: 320px;
  /* position: absolute; */
}

.profile-line {
  white-space: nowrap;
  font-weight: lighter;
  opacity: 0.8;
}

.profile-line.name {
  font-weight: bold;
  font-size: 1.2em;
}

.profile {
  color: var(--image-text);
  font-size: 1.2em;
  position: absolute;
  top: 176px;
  display: block;
  text-align: center;
  overflow: visible;
  left: 50%;
  transform: translateX(-50%);
}

.profile-links {
  display: flex;
  position: absolute;
  top: 240px;
  left: 50%;
  transform: translateX(-50%);
}

/* override post tag style */
.profile-link {
  margin: 8px 8px;
  padding: 4px 8px;
  color: var(--image-text);
  border: 2px solid var(--image-text);
  border-radius: var(--border-radius-md);
  width: 64px;
  text-align: center;
}

.avatar-img {
  position: absolute;
  width: 128px;
  height: 128px;
  top: 32px;
  border-radius: 50%;
  border: 0;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid var(--image-text);
  box-shadow: 0px 0px 4px var;
}
