


.nav-bar {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: rgb(253, 237, 5);
}

.nav-item {
    color: black;
    transition: all 0.2s;
    list-style: none;
    display: block;
    float: right;   
    padding: 12px 24px;
    font-size: 1.4em;
    /* font-weight: bold; */
    /* text-align: center; */
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}

.nav-item.logo {
    float: left;
    width: unset;
    padding: 12px 16px;
    display: block;
}

.nav-button {
    float: right;
    display: none;
    /* font-size: 3em; */
}


@media only screen and (max-width: 540px) {
    .nav-item:not(.nav-button) {
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .nav-item:not(.nav-button):not(.logo) {
        background-color: #eee;
        border-bottom: 2px solid #aaa;
        display: block;
        width: calc(100% - 48px);
    }

    .nav-button {
        display: block;
        float: right;
    }

    .nav-item.logo {
        margin: 0 0;
        display: inline-block;
    }


    .nav-bar:not(.expanded) .nav-item:not(.logo):not(.nav-button) {
        display: none;
    }
}


