.page-nav {
    margin: 0 auto;
    text-align: center;
}

.page-nav-button {
    font-size: 1.2em;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    /* text-align: center; */
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: #777;
}

.page-nav-button:last-child {
    border-right-width: 2px;
}

.page-nav-button:first-child {
    border-radius: 4px 0 0 4px;
}

.page-nav-button:last-child {
    border-radius: 0 4px 4px 0;
}