
.feed-post {
    width: 75%;
    margin: 16px auto;
    background-color: #fff;
    padding: 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    /* display: flex;
    flex-wrap: wrap; */
}
.image-container {
    /* position: relative; */
    float: left;
    width: calc(40% - 16px); 
    padding-right: 16px;
    /* flex: 0 0 40%; */
}

.post-img {
    width: 100%;
    height: auto;
    /* height: 240px; */
}
.post-info {
    width: 60%;
    top: 0;
    display: inline-block;
    /* flex: 0 0 calc(60% - 32px); */
}


@media only screen and (max-width: 767px) {
    .image-container {
        position: relative;
        /* TODO: change  */
        width: calc(100% + 32px);
        top: -16px;
        left: -16px;
        padding: 0;
    }

    .post-info {
        width: 100%;
    }
}



.post-title {
    font-weight: 400;
    font-size: 1.5em;
}

.post-date {
    display: inline-block;
    font-weight: bold;
    margin: 8px 0;
    color: #aaa;
}

.tag-desc {
    margin-left: 8px;
}

.tag-container {
    display: inline-block;
    margin: 4px 0;
}

.post-tag > a {
    text-decoration: none; 
    color: rgb(75, 75, 219);
    padding: 4px 8px;
    border-radius: 4px;
    margin: 0px;
    font-weight: bold;
    margin-right: 8px;
}

.post-tag:hover {
    color: #777
}

.post-text {
    color: #222;
    /* flex: 0  0 100%; */
}

