.feed-post {
  width: 75%;
  margin: 16px auto;
  background-color: var(--card-bg);
  padding: 16px;
  border-radius: var(--border-radius-md);
  border: none;
  box-shadow: 0px 1px 4px var(--shadow);
}
.image-container {
  float: left;
  width: calc(40% - 16px);
  padding-right: 16px;
}

.post-img {
  border-radius: var(--border-radius-sm);
  width: 100%;
  height: auto;
}
.post-info {
  width: 60%;
  top: 0;
  display: inline-block;
}

.post-divider {
  height: 16px;
}

@media only screen and (max-width: 767px) {
  .image-container {
    position: relative;
    width: calc(100% + 32px);
    top: -16px;
    left: -16px;
    padding: 0;
  }

  .post-info {
    width: 100%;
  }
}

.post-title {
  color: var(--header);
  font-weight: 400;
  font-size: 1.5em;
}

.post-date {
  display: inline-block;
  font-weight: bold;
  margin: 8px 0;
  color: var(--subtitle-text);
}

.tag-desc {
  margin-left: 8px;
  color: var(--body);
}

.tag-container {
  display: inline-block;
  margin: 4px 0;
}

.post-tag > a {
  text-decoration: none;
  color: var(--accent);
  padding: 4px 8px;
  margin: 0px;
  font-weight: bold;
  margin-right: 8px;
}

.post-tag:hover {
  color: var(--primary-dark);
}

.post-text {
  color: var(--body);
}
