

.timeline {
    white-space: nowrap;
    overflow-x: scroll;
    background-color: #aaa;
}

.timeline ul {
    width: 100vw;
    padding: 250px 0;
    display: inline-block;
}

.message-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2em;
    font-weight: 600;
    padding: 8px;
    color: #111;   
}


.message-time {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;

}

.message-body {
    font-size: 1em;
    color: #222;
}

.timeline ul li {
    display: inline-block;
    position: relative;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background-color: white;
}

.timeline ul li:not(:last-child)::after { /* dat circle */
    content: " ";
    position: absolute;
    top: -10px;
    right: -16px;
    width: 20px;
    height: 20px;
    background-color: green;
    border: 2px solid yellow;
    border-radius: 50%;
    z-index: 1;
}



.timeline ul li .message-box {
    position: absolute;
    width: 253px;
    /* height: 220px; */
    top: 22px;
    left: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    white-space: normal;
}

.timeline ul li:nth-child(odd) .message-box{
    transform: translateY(-100%);
    top: -16px;
}

.timeline ul li:nth-child(even) .message-box:hover {
    transform: scale(1.05, 1.05) translateX(2.5%) translateY(2.5% );
    /* color: red; */
}

.timeline ul li:nth-child(odd) .message-box:hover{
    transform:  translateY(-104%) scale(1.05, 1.05) translateX(2%);
}




.timeline ul li:nth-child(odd) .message-box::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -8px;
    left: 32px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: white transparent transparent transparent;
}

.timeline ul li:nth-child(even) .message-box::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    top: -8px;
    left: 32px;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent white transparent;
}
