* {
    padding: 0px;
    margin: 0px;
    outline: 0px;
}
body {
    background-color: #eee;
}

.nav-item {
    display: inline-block;
    float: right;
    width: 120px;   
    padding: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-item.logo {
    float: left;
}