

.clear-fix::after {
    content: "";
    /* background-color: yellow; */
    display: table;
    clear: both;
}
.nav-bar {
    background-color: rgb(253, 237, 5);
}

.nav-item {
    list-style: none;
    display: block;
    float: right;
    width: 80px;   
    padding: 12px 0;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.nav-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.7);
}

.nav-item.logo {
    float: left;
    width: unset;
    padding: 12px 16px;
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.nav-button {
    float: right;
    display: none;
    /* font-size: 3em; */
}


@media only screen and (max-width: 440px) {
    .nav-item:not(.nav-button) {
        float: none;
        text-align: center;
        margin: 0 auto;
    }

    .nav-item:not(.nav-button):not(.logo) {
        background-color: #eee;
        border-bottom: 2px solid #aaa;
        display: block;
        width: 100%;
    }

    .nav-button {
        display: block;
        float: right;
    }

    .nav-item.logo {
        margin: 0 0;
        display: inline-block;
    }


    .nav-bar:not(.expanded) .nav-item:not(.logo):not(.nav-button) {
        display: none;
    }
}


